<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a      class="navbar-brand" (click)="onGoHome()"><i class="bi bi-list-task"></i>MyTodos {{currUser?.name}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link btn" aria-current="page" (click)="onGoHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="onGoLstTodos()">Les Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="liste/1" >Liste User test (exemple)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="liste/1/2" >User test : todo 1 (exemple)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>