
<form #AddForm="ngForm" (ngSubmit)="onSubmitAdd(AddForm)">
  <div class="mb-3">
    <label for="todo" class="form-label">Quoi?</label>
    <input required id="todo" type="text" name="text" ngModel>
  </div>
  <div  class="mb-3">
    <label for="done" class="form-label">Terminé?</label>
    <input id="done" type="checkbox" name="done" class="form-check-input mx-3" checked ngModel>
  </div>
  <div>
    <button [disabled]="!AddForm.valid" type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
