<h2 class="my-3 text-center">{{nbTodos}}</h2>

<ul class="list-group">
  <li #liTag class="list-group-item" [id]="'todolst-' + elm.id" 
  (mouseenter)="addFocusStyle(liTag)"
      (mouseout)="liTag.classList.remove('focused')" 
      *ngFor="let elm of myArray; index as i">

        <span  (click)="changeDone(elm)" [class.done]="elm.done" (mouseenter)="addFocusStyle(liTag)" class="todo-text">
          {{elm.text}} 
        </span>
        <button class="btn btn-primary btn-sm btns" (click)="showDetails(i, elm)" (mouseenter)="addFocusStyle(liTag)"> See</button>

  </li>
</ul>


