.done {
  color: #aaa;
  text-decoration: line-through;
}

.list-group {
  display: flex;
  margin: 0;
  cursor: pointer;
}

.list-group-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}



.focused{
  background-color: rgba(96, 28, 160, 0.813);
  color: #fff;
  font-weight: 700;
}

.todo-text{
  width: 20em;
  
}

.btns{
  margin: auto;
  width: 5em;
}

button{margin:1em;}

.todo-btns{
  display: flex;
  flex-direction: row;
  gap: 1em;
}